*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: #f1f1f1;
}
.s-m{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.s-m a{
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0 6px;
    border-radius: 50%;
    background: #2c3e50;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    transition: 0.4s;
}
.s-m a i{
    transition: 0.4s all;
}
.s-m a:hover{
    background: #e67e22;
}
.s-m a:hover > i{
    transform: scale(1.6) rotate(25deg);
}