body{
    margin: 0;
    padding: 0;
    background: #333;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bar{
    width: 6px;
    height: 60px;
    background: white;
    display: inline-block;
    animation: loading 1.5s ease-in-out infinite;
    /*infinite 规定动画应该无限次播放
    ease-in-out 规定以慢速开始和结束的过渡效果*/
    transform-origin: bottom center;
    /*transform-origin设置旋转元素的基点位置*/
}
.bar1{
    animation-delay: 0.1s;
}
.bar2{
    animation-delay: 0.2s;
}
.bar3{
    animation-delay: 0.3s;
}
.bar4{
    animation-delay: 0.4s;
}
.bar5{
    animation-delay: 0.5s;
}
.bar6{
    animation-delay: 0.6s;
}
.bar7{
    animation-delay: 0.7s;
}
.bar8{
    animation-delay: 0.8s;
}

/*
使用@keyframes规则，你可以创建动画。

创建动画是通过逐步改变从一个CSS样式设定到另一个。

在动画过程中，您可以更改CSS样式的设定多次。

指定的变化时发生时使用％，或关键字"from"和"to"，这是和0％到100％相同。
*/
@keyframes loading{
    0%{
        transform: scaleY(0.1);
        /*scaleY是指显示对象的纵向缩放值,如Red.scaleY = 0.15;指将Red这个对象的高度变为原大小的0.15倍(原始大小是1)*/
        background: #fff;
    }
    50%{
        transform: scaleY(1);
        /*这里用https://flatuicolors.com/ 换个颜色*/
        background: #2ecc71;
    }
    100%{
        transform: scaleY(0.1);
        background: transparent;
    }
}
